@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --base-color: #f2f4f8;
  --text-color: #191b23;
  --base-color-dark: #18181b;
  --text-color-dark: #ededed;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    margin: 2rem;
    background-color: var(--base-color);
    color: var(--base-color-dark);
    font-family: var(--font-poppins);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark body {
    background: var(--base-color-dark);
  }

  button,
  input,
  textarea {
    font: inherit;
  }
}

@layer components {
  .edit-btn,
  .delete-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
    background: var(--base-transparent-90);
    color: var(--text-color);
    border: 1px solid var(--surface-color);
  }

  .edit-btn:hover {
    background: var(--base-transparent-100);
    transform: scale(1.05);
  }

  .delete-btn:hover {
    background: #ff5252;
    transform: scale(1.05);
    color: white;
  }
}
